# Virtual Environment
.venv/
venv/
ENV/
backend/venv/

# Python cache
__pycache__/
backend/__pycache__/
*.pyc
backend/*.pyc
*.pyo
*.pyd

# Environment variables
# .env
# backend/.env

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*.log

# Docker
docker-compose.override.yml

# Database data
postgres_data/

# Frontend build artifacts and dependencies
frontend/node_modules/
frontend/build/
frontend/.env.local
